body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin: 10px;
}

[data-name="list-card"] {
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 3px 3px 3px #eee;
}
[data-name="list-card"]:hover {
  box-shadow: 5px 5px 5px #ddd !important;
}

@media (max-width: 768px) {
  [data-name="main-list-item"] {
    width: 100% !important;
  }
  #twitter-widget-0 {
    width: 100% !important;
  }
}
